<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.szpansky.concat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".open_all.OpenAllPersonsActivity"
            android:label="@string/contacts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".open_all.OpenAllItemsActivity"
            android:label="@string/items"
            android:parentActivityName=".MainActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".main_browsing.CatalogsActivity"
            android:label="@string/orders"
            android:parentActivityName=".MainActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".main_browsing.ClientsActivity"
            android:parentActivityName=".main_browsing.CatalogsActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".main_browsing.OrdersActivity"
            android:parentActivityName=".main_browsing.ClientsActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".HelpAndOpinionActivity"
            android:label="@string/help_opinion"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>